@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
body {
  background: #222;
  font-family: 'Poppins', sans-serif;
  color: #FFF;
  padding-left: 5em;
  padding-right: 5em;
}

#logo {
  padding-right: 4em;
}

h2 {
  color: #000;
  font-weight: bold;
  font-size: xx-large;
}

h1 {
  font-size: xxx-large;
  margin-bottom: 0em;
}

hr {
  width: 12.4em;
  margin-left: 0;
  border-width: medium;
  border-color: #DEBF79;
  border-style: solid;
}

a {
  color: #DEBF79;
  font-weight: bold;
  text-decoration: none;
}

button {
  background: #DEBF79;
  border: none;
  color: #FFF;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-family: 'Poppins', sans-serif;
}

/***********BEGIN HOMEPAGE CSS***********/
/*Header */
header {
  display: flex;
  justify-content: space-between;
}

#contact {
  padding-top: .5em;
}

/* boxes row */
#box-row {
  display: flex;
  align-items: stretch;
  text-align: center;
}

#box-row p {
  color: #858585;
  font-size: smaller;
}


#box-1, #box-2, #box-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  padding: 2em;
  text-align:justify;
  border-radius: 1%;;
}

#box-1 {
  margin: 1em 1em 1em 0em;
  justify-content: space-between;
}

#box-2 {
  margin: 1em;
}

#box-2, #box-3 {
  justify-content: end;
}

#box-3 {
  margin: 1em 0em 1em 1em;
}

/* bottom row */
.arrayShow {
  display: block;
}

.arrayHide {
  display: none;
}
/***********END HOMEPAGE CSS***********/

/***********BEGIN CONTACT PAGE CSS***********/
#contact-page {
  display: flex;
}

#contact-left, #contact-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/*left-side css */
#contact-left #logo {
  padding-left: 4em;
}

#contact-text-row {
  padding: 9em 5em 5em;
}

/*right-side css */
#contact-right {
  justify-content: space-around;
  align-items: flex-end;
  background-color: #FFF;
  padding-right: 5em;
  padding-left: 5em;
}

/*form section css */
#contact-form-row {
  align-self: flex-start;
}

#contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.textfield {
  width: 50%;
  height: auto;
  margin: .5em 0em .5em 0em;
}

input {
  width: 80%;
  padding: 1em;
  font-family: 'Poppins', sans-serif;
  background-color: #F5F5F5;
  border: none;
}

#fname, #title {
  text-align: start;
}

#lname, #email {
  text-align: end;
}

#message {
  width: 100%;
}

#message textarea {
  width: 100%;
  height: 8em;
  font-family: 'Poppins', sans-serif;
  background-color: #F5F5F5;
  border: none;
  padding: 5px;
}
/***********END CONTACT PAGE CSS***********/

/***********BEGIN MOBILE CSS***********/
@media only screen and (max-width: 875px) {
  #box-row, #contact-page {
    flex-wrap: wrap;
  }

  #contact-left, #contact-right {
    width: 100%;
  }
}
